<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countries</key>
	<array>
		<dict>
			<key>country</key>
			<string>United Kingdom</string>
			<key>iso2CountryCode</key>
			<string>GB</string>
			<key>diallingCode</key>
			<string>44</string>
			<key>shouldStripLeadingZeros</key>
			<true/>
		</dict>
		<dict>
			<key>country</key>
			<string>United States</string>
			<key>iso2CountryCode</key>
			<string>US</string>
			<key>diallingCode</key>
			<string>1</string>
			<key>shouldStripLeadingZeros</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
