[submodule "Externals/LoggingPrint"]
	path = Externals/LoggingPrint
	url = git@github.com:JungleCandy/LoggingPrint.git
[submodule "Externals/Laurine"]
	path = Externals/Laurine
	url = git@github.com:richardbuckle/Laurine.git
[submodule "Externals/KSTokenView"]
	path = Externals/KSTokenView
	url = https://richardbuckle@github.com/Nudj/KSTokenView.git
