<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Nightly Nudj build for QA.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>14</daysToKeep>
        <numToKeep>50</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.12">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>github</name>
        <url>git@github.com:Nudj/nudj-ios.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>development</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.UserExclusion>
        <excludedUsers>BuildBot</excludedUsers>
      </hudson.plugins.git.extensions.impl.UserExclusion>
      <hudson.plugins.git.extensions.impl.SubmoduleOption>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>true</recursiveSubmodules>
        <trackingSubmodules>false</trackingSubmodules>
      </hudson.plugins.git.extensions.impl.SubmoduleOption>
      <hudson.plugins.git.extensions.impl.UserIdentity>
        <name>BuildBot</name>
        <email>buildbot@sailmaker.co.uk</email>
      </hudson.plugins.git.extensions.impl.UserIdentity>
      <hudson.plugins.git.extensions.impl.PruneStaleBranch/>
      <hudson.plugins.git.extensions.impl.CleanCheckout/>
      <hudson.plugins.git.extensions.impl.WipeWorkspace/>
      <hudson.plugins.git.extensions.impl.LocalBranch>
        <localBranch>development</localBranch>
      </hudson.plugins.git.extensions.impl.LocalBranch>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>@midnight</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># local vars
Workspace=&quot;Nudj.xcworkspace&quot;
MainScheme=&quot;Nudj beta&quot;
ProductName=&quot;Nudj beta&quot;

# set the desired version of Xcode
export DEVELOPER_DIR=&quot;/Applications/Xcode.app/Contents/Developer&quot;

# leave the marketing version as is but bump the build number
./newVersion

xcodebuild -workspace &quot;${Workspace}&quot; \
  -scheme &quot;${MainScheme}&quot; \
  -configuration Release \
  -sdk iphoneos \
  CONFIGURATION_BUILD_DIR=&quot;${WORKSPACE}/BuildProducts&quot; \
  clean build

cd &quot;${WORKSPACE}&quot;
zip -qr &quot;${BUILD_TAG}&quot; BuildProducts

cd BuildProducts
zip -r &quot;../${ProductName}.dSYM.zip&quot; &quot;${ProductName}.app.dSYM&quot;
cd &quot;${WORKSPACE}&quot;

/usr/bin/xcrun -sdk iphoneos PackageApplication &quot;${WORKSPACE}/BuildProducts/${ProductName}.app&quot; -o &quot;${WORKSPACE}/${ProductName}.ipa&quot;

# workaround Jenkins git plugin not fetching master at the moment
git fetch github +master:master

# make release notes
./make-qa-log.py &gt; changelog.markdown

# upload to Hockey App -- the plugin writes the Jenkins build number into the dSYM so we use puck
/usr/local/bin/puck \
  -dsym_path=&quot;${WORKSPACE}/${ProductName}.dSYM.zip&quot; \
  -build_server_url=&quot;${BUILD_URL}&quot; \
  -source_path=&quot;${WORKSPACE}&quot; \
  -notes_path=&quot;${WORKSPACE}/changelog.markdown&quot; \
  -notes_type=markdown \
  -submit=auto \
  -download=true \
  -mandatory=false \
  -notify=true \
  -tags=dev,internal,testers \
  -release_type=beta \
  -api_token=ca127f9d4c5648479847e08aa9b2ebfd \
  -app_id=9bb5535d31f24908a06d72757a8e39e9 \
  &quot;${WORKSPACE}/${ProductName}.ipa&quot;

rm -f changelog.markdown

git push --all github
git push --tags github
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.ipa,*.zip</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.git.GitPublisher plugin="git@2.2.12">
      <configVersion>2</configVersion>
      <pushMerge>false</pushMerge>
      <pushOnlyIfSuccess>true</pushOnlyIfSuccess>
      <forcePush>false</forcePush>
      <branchesToPush>
        <hudson.plugins.git.GitPublisher_-BranchToPush>
          <targetRepoName>github</targetRepoName>
          <branchName>development</branchName>
        </hudson.plugins.git.GitPublisher_-BranchToPush>
      </branchesToPush>
    </hudson.plugins.git.GitPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.11">
      <recipients>richardb@sailmaker.co.uk</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>